body {
 background-color: darkslategrey;
 color: aliceblue;
 font-family: Open Sans-serif;
 font-size: 1.5rem;
}

.navCon {
  background-color: black;
  width: 100%;
  margin: 3rem 0;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.navbar > * {
  border: 1px solid red;
}
.wrapper {
  display: grid;
  align-items: space-evenly;
  justify-content: center;
  grid-template-areas: 
  "header header header"
  "leftSide main rightSide"
  "footer footer footer";
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: 100px 1fr 200px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 0;
}

.menuItems {
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4,auto) 1fr;
  grid-gap: 12px;
  align-self: center;

}
.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: red;
}
.menuBar, .navTog {
  display: none;
}
.logo {
 padding: 1rem;
 font-size: 3rem;
}
#mainHeader {
  grid-area: header;
}

#leftSide {
  grid-area: leftSide;
}

#mainContent {
  grid-area: main;
}

#rightSide {
  grid-area: rightSide;
}

#mainFooter {
  grid-area: footer;
}
.wrapper > * {
  border: 1px solid black;
}

@media only screen and (max-width: 800px) {
  body {
    background-color: red;
  }
  .wrapper {
    grid-template-areas: 
    "header"
    "main"
    "leftSide"
    "rightSide"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 1fr  1fr 100px;
  }

  .navTog:checked ~ .menuItems {
    display: grid;
    grid-row-start: 2;
    grid-auto-flow: row;
    grid-template-columns: auto;
  }

  .menuItems {
    display: none;
    padding-right: 0 !important;
  }

  .menuBar, .navTog {
    display: grid;
  }
}